
<% @groups.each do |group| %>
  <div>
    <h3><%= group.name %></h3>
  </div>
  Description: <%= group.description %><br>
  Meet Date: <%= group.meet_date %>
  <!-- adds game -->
  <br>
<% end %>


<a href= "/groups/new"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">+
</button></a> Create New<br>

<% @groups.each do |group| %>
  <div class = "card-container">
	<div class="demo-card-square mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title mdl-card--expand">
	    <h2 class="mdl-card__title-text"><%= group.name %></h2>
	  </div>

	  <div class="mdl-card__supporting-text">
	   For: 
	   <% group.game_id %> 
	  </div>

	  <div class="mdl-card__supporting-text">
	   <%= group.description %> 
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a href = "<%= group_path(group.slug)%>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      View Group
	    </a>
	  </div>
	</div>
  </div>
<% end %>
