<div class = "container-fluid">
  <!-- adds game selector -->
  <%= f.submit %>
<% end %>
  <%= form_for @group, class: "form-horizontal" do |f| %>
          <fieldset>
            <legend>New Group Form </legend>
      <div class ="col-sm-6">
        <div class="form-group label-floating">
            <%= f.label :name , class: "control-label", value: "Group Name" %>
            <%= f.text_field :name, class: "form-control" %>
        </div><br>

        <div class="form-group label-floating">
            <%= f.label :description , class: "control-label" %>
            <%= f.text_area :description, class: "form-control", rows: "6" %>
        </div><br>

        <div class="form-group label-floating">
            <%= f.label :city , class: "control-label", value: "City zip" %>
            <%= f.text_field :city, class: "form-control" %>
        </div><br>

        <div class="form-group label-floating">
            <%= f.label :meet_date , class: "control-label" %>
            <%= f.date_field :meet_date, class: "form-control" %>
        </div><br>

        <!-- GAME PICKER -->


          <%= f.submit "Create New Group", class: "btn btn-primary" %>
          </fieldset>
      <% end %>

</div>
