
Group Show

<div>
    Name: <%= @group.name %> <br>
    Description: <%=  @group.description %><br>
    Meet Date: <%= @group.meet_date %><br>

	<%= link_to "All Groups",  groups_path, method: :get %>
</div>

 <%= image_tag @user.avatar.url %>
  <%= image_tag @user.avatar.url(:medium) %>
  <%= image_tag @user.avatar.url(:thumb) %>
  
<% if @group.gm == @current_user.id %>
	<button class ="btn btn-info" data-toggle="modal" data-target="#edit-group-modal">Edit Group</button>
<% elsif @group.users.include? @current_user %>
	<form method="POST" action="/groups/<%=@group.id%>/leave">
		<input type="hidden" name = "currentuser" value="<%=@current_user.id%>">
		<input type="submit" class = "btn" value="Leave Group">
	</form>
<% else %>
	<form method="POST" action="/groups/<%=@group.id%>/join">
		<input type="hidden" name = "currentuser" value="<%=@current_user.id%>">
		<input type="submit" class = "btn" value="Join Group">
	</form>
<% end %>

<div id="edit-group-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <%= form_for @group, class: "form-horizontal" do |f| %>
   			<fieldset>
   				<legend>Update Group </legend>

			<div class="form-group">
			    <%= f.label :name , class: "col-lg-3 control-label" %>
			    <div class="col-lg-9">
			    	<%= f.text_field :name, class: "form-control mdl-textfield__input" %>
			    </div>
			</div><br><br>

			<div class="form-group">
			    <%= f.label :description , class: "col-lg-3 control-label" %>
			    <div class="col-lg-9">
			    	<%= f.text_area :description, class: "form-control" %>
			    </div>
			</div><br><br>

			<div class="form-group">
		    	<%= f.label :city , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.text_field :city, class: "form-control" %>
		    	</div>
		    </div><br><br>

		    <div class="form-group">
		    	<%= f.label :meet_date , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.date_field :meet_date, class: "form-control" %>
		    	</div>
		    </div><br><br>
		    
      </div>
      <div class="modal-footer">

        <%= f.submit "Update", class: "btn btn-primary" %>
        </fieldset>
		<% end %>
      </div>
    </div>
  </div>
</div>

