<a name="top"></a>
<div class ="jumbotron games">
	<div class = "jumbotron-text">GAMES</div>

</div>
<input class="mdl-textfield__input name-search" type="text" name="sample"id="fixed-header-drawer-exp">

<% @games.each do |game| %>
  <div class = "card-container" id= "<%=game.name%>">
	<div class="demo-card-square mdl-card mdl-shadow--2dp">
	<a href="<%=game_path(game.slug)%>">
	  <div class="mdl-card__title mdl-card--expand">
	  <div class="mdl-pic"><%= image_tag game.picture, class: 'list-image'%></div> 
	    <h2 class="mdl-card__title-text"><%= game.name %></h2> 
	  </div>
	</a>

	  <div class="mdl-card__supporting-text">
	   Genres:
	   <% i = 0 %>
	   <% length = game.genres.length %>
	   <% game.genres.each do |genre| %>
			<%= link_to genre.name, genre_path(genre.slug)%><% i+= 1%><% if i < (length) %>,<% end %>
		<% end %>  <br>
	  <%= game.description %> 
	  </div>
	</div>
  </div>
<% end %>

<a href="#top" class="btt mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	Back to Top</a>

