<a name="top"></a>
<div class="jumbotron games">
	<span><i class="btn btn-icon btn-danger btn-raised mdi-action-favorite favorite-button <%= 'disabled' if @game.users.include? @current_user%>" id = "<%= @game.id%>"></i></span>
  <div class = "jumbotron-text"><%= @game.name%></div>
</div>

<div id="group-game-info">
	   <span id="game-genres">Genres: 
	   <% i = 0 %>
	   <% length = @game.genres.length %>
	   <% @game.genres.each do |genre| %>
	   			<%= link_to genre.name, genre_path(genre.slug)%><% i+= 1%><% if i < (length) %>,<% end %>
		<% end %> </span> <br><br>
    <%=  @game.description %><br>
    Recommended number of player: <%= @game.min_players %> - <%= @game.max_players %>	<br>
</div><br><br>



<% @game.groups.each do |group| %>
  <a href="<%= group_path(group.slug)%>">
  <div class = "card-container">
	<div class="demo-card-square mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title mdl-card--expand">
	    <h2 class="mdl-card__title-text"><%= group.name %></h2>
	  </div>

	  <div class="mdl-card__supporting-text">
	   For --  
	   <%= Game.find(group.game_id).name %> <br>
	   <%= group.meet_date.to_formatted_s(:short) %>
	  </div>
	
	</div>
  </div>
  </a>
<% end %>



<a href="#top" class="btt mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
  Back to Top</a>
