<h1> Inbox!</h1>

<div class="panel-group inbox" id="accordion" role="tablist" aria-multiselectable="true">
<% @user.mailbox.inbox.each do |inbox| %>
  
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=inbox.receipts[0].message.id%>" aria-expanded="false" aria-controls="collapseOne">
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
      			<%= image_tag inbox.receipts[0].message.sender.avatar.url(:thumb), class: "sender-image"%>
			    <%= inbox.receipts[0].message.sender.username%>
				<span>   -   </span>
			    <%= inbox.receipts[0].message.subject %> 
			    <%= inbox.receipts[0].message.created_at %> 
      </h4>
    </div>
    	
    <div id="collapse<%=inbox.receipts[0].message.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= inbox.receipts[0].message.body %>
        <button class ="btn btn-info reply-button" data-toggle="modal" data-target="#message-modal">Reply</button>
      </div>
    </div>
  </div>
  </a>
<% end%>
  </div>
</div>