
<div class="container profile">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
			    			<h2><%= @user.username %> </h2>
		    				<%= button_to "Inbox", user_path(current_user) %> 
						</div>
						<div class="col-lg-6">
							<%= image_tag @user.avatar.url(:medium) %> <br>
						</div>
					</div> <br>
					<div class="row">
						<div class="col-xl-4 col-sm-3">
							<h3>My Games:</h3>
							<ul>
								<% @user.games.each do |game| %>
									<li> <%= game.name %></li>
								<% end %>
							</ul>
						</div>
						<div class="col-xl-4 col-sm-3">
							<h3>My Groups:</h3>
							<ul>
								<% @user.groups.each do |group| %>
									<li> <%= group.name %></li>
								<% end %>
							</ul>
						</div>
						<div class="col-xl-4 col-sm-3">
						    <h3> About: </h3> <p><%=  @user.description %> </p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-sm-3">
							<%= button_to "Log out",  logout_path, method: "destroy" %>
						</div>
						<div class="col-xl-4 col-sm-3">
						</div>
						<div class="col-xl-4 col-sm-3">
	    					<%= button_to "Delete Your Account", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
						</div>
					</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>


<button class ="btn btn-info" data-toggle="modal" data-target="#message-modal">Message</button>

<button class ="btn btn-info" data-toggle="modal" data-target="#edit-modal">Edit</button>
<%= form_for @user, class: "form-horizontal" do |f| %>
<div id="edit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button class="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
   			<fieldset>
   				<legend>Update Form </legend>

			<div class="form-group">
			    <%= f.label :username , class: "col-lg-3 control-label" %>
			    <div class="col-lg-9">
			    	<%= f.text_field :username, class: "form-control mdl-textfield__input" %>
			    </div>
			</div><br><br>

			<div class="form-group">
			    <%= f.label :first_name , class: "col-lg-3 control-label" %>
			    <div class="col-lg-9">
			    	<%= f.text_field :first_name, class: "form-control" %>
			    </div>
			</div><br><br>

			<div class="form-group">
		    	<%= f.label :last_name , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.text_field :last_name, class: "form-control" %>
		    	</div>
		    </div><br><br>

		    <div class="form-group">
		    	<%= f.label :email , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.text_field :email, class: "form-control" %>
		    	</div>
		    </div><br><br>

		    <div class="form-group">
		    	<%= f.label :city , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.text_field :city, class: "form-control" %>
		    	</div>
		    </div><br><br>

		    <div class="form-group">
		    	<%= f.label :age , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.text_field :age, class: "form-control" %>
		    	</div>
		    </div><br><br>

		    <div class="form-group">
		    	<%= f.label :description , class: "col-lg-3 control-label" %>
		    	<div class="col-lg-9">
		    		<%= f.text_area :description, class: "form-control" %>
		    	</div>
		    </div><br><br><br>

		    <div class="form-group">
		    <%= f.label :avatar, class: "col-lg-3 control-label" %>
		      <div class="col-lg-9">
		        <%= f.file_field :avatar %>
		      </div>
		    </div>
		    
      </div>
      <div class="modal-footer">

        <%= f.submit "Update", class: "btn btn-primary" %>
        </fieldset>
		<% end %>
      </div>
    </div>
  </div>
</div>


<div id="message-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      
<form name = "send-message" action = "/users/<%=@user.id%>/send_message" method = "post">
	<label for="subject" class= "col-lg-3 control-label"> Subject </label>
	<input id = "subject"type="text" name="title" placeholder="Title" class="form-control"> <br>
	<label for="body" class="col-lg-3 control-label">Body</label>
	<input id="body" type="text" name="content" placeholder="content" class="form-control">
	<input type="hidden" name="current" value = "<%= @current_user.id%>">
	<input type="submit" role="button" value="Send!" >
</form>
      </div>
      <div class="modal-footer">

       
      </div>
    </div>
  </div>
</div>


