
<h1>All Games</h1>

	<% @games.each do |game| %> <br>
		Name: <%= game.name %> <br>
		Recommended number of player: <%= game.min_players %> - <%= game.max_players %>	<br>
		Description: <%= game.description %> <br>
		Genres:
		<% game.genres.each do |genre| %>
			<%= genre.name %>
		<% end %><br>
	<% end %>

<br>
