
<h2><%= @game.name %> </h2><br>
Recommended number of player: <%= @game.min_players %> - <%= @game.max_players %>	<br>
Description: <%= @game.description %> <br><br>
Genres:
<ul>
	<% @genres.each do |genre| %>
		<li>
		 <%= genre.name %> <br>
		</li>
 	<% end %>
</ul>
