<i class="btn btn-icon mdi-action-favorite favorite-button <%= 'disabled' if @game.users.include? @current_user%>" id = "<%= @game.id%>"></i>
<h2><%= @game.name %> </h2><br>
Recommended number of player: <%= @game.min_players %> - <%= @game.max_players %>	<br>
Description: <%= @game.description %> <br><br>
Genres:
<ul>
	<% @genres.each do |genre| %>
		<li>
		 <%= genre.name %> <br>
		</li>
 	<% end %>
</ul>
