<!DOCTYPE html>
<html>
	<head>
	  <title>LfgApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- took out mdl-layout -->
		<div class="mdl-js-layout mdl-layout--fixed-drawer">
		  <div class="is-visible mdl-layout__drawer" id="sidebar">
		    <header id="header">
		      <% if current_user %>
		        <span class="mdl-layout-title"><%=current_user.username%></span>
		        <!-- <div class="navatar"><%= image_tag current_user.avatar.url(:thumb) %></div> -->
		      <% else %>
		      <% end %>
		    </header>
			<nav class="mdl-navigation" id="nav">
		      <a class="mdl-navigation__link nav-link" href="/"> Home </a>
		      <% if current_user != nil %>
		      <a class="mdl-navigation__link nav-link" href="/users/<%= current_user.slug %>">Profile </a>
		      <a class="mdl-navigation__link nav-link" href="/users/<%= current_user.slug %>/inbox">Inbox</a>
		      <% end %>
		      <a class="mdl-navigation__link nav-link" href="/games">Games</a>
		      <a class="mdl-navigation__link nav-link" href="/groups">Groups</a>
		      <a class="mdl-navigation__link nav-link"  data-no-turbolink href="/genres">Genres</a>
		       <a class="mdl-navigation__link nav-link" href="/about">About</a>
		     <% if @current_user == nil %>
		      <%= link_to "Log In", login_path, class: "mdl-navigation__link nav-link" %>
		      <% else %> 
		      <span><%= link_to "Log out", logout_path, method: :post, class: " mdl-navigation__link nav-link" %></span>
		      <% end%>
		    </nav>
		  </div>
		  <main class="mdl-layout__content">
		    <div class="page-content">
		    <%= bootstrap_flash %>
		    	<%= yield %>
		  </main>
		</div>

		

	</body>
</html>

